/* Reset CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html
{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.background-blue
{
    background-color: #98e6e6;
}

.background-white
{
    background-color: #fff;
}

.bold
{
    font-weight: bold;
}

.container
{
    padding: 70px 70px;
}

.col
{
    float: left;
    padding: 0 20px;
}

.col-full
{
    width: 100%;
}

.col-half
{
    width: 50%;
}

.col-third
{
    width: 33.33333%;
}

.col-forth
{
    width: 25%;
}

.col-fifth
{
    width: 20%;
}

.row
{
    
}

.row::after
{
    content: "";
    display: block;
    clear: both;
}

/* Main */
#main
{

}

/* Header Section */
#header
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

#header .contain
{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 70px;
}

#header .brand
{
    /* display: inline-block; */
    position: absolute;
    color: #fff;
    text-align: center;
    /* justify-content: center; */
    /* width: 500px; */
    z-index: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    padding: 18px 0;   
}

.brand_mobile
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    color: #fff;
}

#header .loship
{
    text-decoration: none;
    position: relative;
    float: right;
    color: #fff;
    line-height: 70px;
    padding: 0 20px;
}

#header .loship:hover
{
    color: #98e6e6;
    background-color: #fff;
}

#header .hotline
{
    position: relative;
    float: right;
    color: #fff;
    line-height: 70px;
    padding: 0 20px;
}

/* Nav Section */
.nav_mobile
{
    position: fixed;
    background-color:#98e6e6;
    text-decoration: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

#nav_mobile > li
{
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

#nav_mobile > li > a
{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 55px;
    padding: 0 15px;
}

#nav_mobile > li > a:hover
{
    color: #98e6e6;
    background-color: #fff;
}

.nav_mobile-close
{
    position: absolute;
    color: #fff;
    width: 28px;
    height: 28px;
    font-size: 1.4rem;
    top: 1rem;
    right: 1rem;
}



.nav_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav-mobile_input
{
    position: absolute;
    /* justify-content: center; */
    /* display: none; */
    float: left;
    color: #fff;
    height: 100%;
    z-index: 2;
}

.nav_input:checked ~ .nav_overlay
{
    display: block;
}

.nav_input:checked ~ .nav_mobile
{
    transform: translateX(0%);
    opacity: 1;
}

.nav_input:checked ~ svg
{
    display: none;
}

#nav
{
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
}

#nav > li
{
    position: relative;
    display: inline-block;
    /* z-index: 1; */
}

#nav > li > a
{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 70px;
    padding: 0 15px;
}

#nav > li > a:hover
{
    color: #98e6e6;
    background-color: #fff;
}

.nav_bars-btn
{
    position: absolute;
    width: 28px;
    height: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    justify-content: center;
    display: none;
}

.nav_bars-btn svg
{
    /* position: absolute; */
    width: 28px;
    height: 100%;
    z-index: 1;
    /* top: 0; */
    /* bottom: 0; */
    /* justify-content: center; */
}

/* Heading Pic Section */
.head-pic
{
    box-sizing: border-box;
    filter: grayscale(50%);
    width: 100%;
    margin-top: 70px;
}

/* Side Pic Section */
.side-pic
{
    box-sizing: border-box;
    filter: grayscale(50%);
    width: 100%;
}

/* About Section */
#about
{

}

.heading
{
    text-align: center;
    color: #98e6e6;
    font-style: italic;
    padding-bottom: 70px;
    font-size: 30px;
}

#about .about-container
{

}

#about .about-pic
{

}

#about .about-content
{
    font-size: 20px;
}

/* Menu Section */
#menu
{

}

#menu .drink-menu
{

}

#menu .drink-list
{
    overflow: hidden;
}

#menu .drink-item
{
    position: relative;
    text-align: center !important;
}

#menu .drink-img
{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 154px;
    border-radius: 4px;
}

#menu .drink-name
{
    text-align: center;
    margin: 15px 0;
}

/* Loship Section */
#ship .loship
{
    color: #98e6e6;
    text-decoration: none;
    padding: 10px;
}

#ship .loship:hover
{
    color: #fff;
    background-color: #98e6e6;
}

/* Store Section */
#store
{

}

#store .store-address
{
    font-size: 20px;
    line-height: 30px;
}

#store .address
{
    display: inline-block;
    padding-bottom: 70px;
}

#footer
{
    text-align: center;
    padding: 64px 0;
}

#footer p
{
    line-height: 25px;
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

/* PC: Width > 1024px */
@media only screen and (min-width: 64em)
{
    .nav_mobile
    {
        display: none;
    }

    .brand_mobile
    {
        display: none;
    }


}

/* Tablet: Width >= 740px and Width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)
{
    .nav_mobile
    {
        display: none;
    }

    .brand_mobile
    {
        display: none;
    }

    .about-container
    {
        display: block;
    }

    .about-pic
    {
        width: 100%;
    }

    .about-content
    {
        justify-content: center;
        width: 100%;
        padding: 20px 20px;
    }

    .drink-item
    {
        width: 50%;
    }
}

/* Mobile: Width < 740px */
@media only screen and (max-width: 46.1875em)
{
    .brand
    {
        display: none;
    }

    .loship
    {
        display: none;
    }

    .hotline
    {
        display: none;
    }

    .nav_bars-btn
    {
        display: block;
        margin-left: 8px;
    }

    #nav
    {
        display: none;
    }

    .about-container
    {
        display: block;
    }

    .about-pic
    {
        width: 100%;
    }

    .about-content
    {
        justify-content: center;
        width: 100%;
        padding: 20px 20px;
    }

    .drink-item
    {
        width: 50%;
    }
}